In [138]:
# Necessary Imports

import numpy as np

from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler

In [139]:
import pandas as pd
dataset=pd.read_csv(r'D:\ML course practise\machine learning algorithm\Clustering\dbscanfile.csv')

In [140]:
dataset

     Unnamed: 0  Annual Income (k$)  Spending Score (1-100)  y
0             0                  15                      39  2
1             1                  15                      81  3
2             2                  16                       6  2
3             3                  16                      77  3
4             4                  17                      40  2
5             5                  17                      76  3
6             6                  18                       6  2
7             7                  18                      94  3
8             8                  19                       3  2
9             9                  19                      72  3
10           10                  19                      14  2
11           11                  19                      99  3
12           12                  20                      15  2
13           13                  20                      77  3
14           14                  20                      13  2
15           15                  20                      79  3
16           16                  21                      35  2
17           17                  21                      66  3
18           18                  23                      29  2
19           19                  23                      98  3
20           20                  24                      35  2
21           21                  24                      73  3
22           22                  25                       5  2
23           23                  25                      73  3
24           24                  28                      14  2
25           25                  28                      82  3
26           26                  28                      32  2
27           27                  28                      61  3
28           28                  29                      31  2
29           29                  29                      87  3
..          ...                 ...                     ... ..
170         170                  87                      13  1
171         171                  87                      75  4
172         172                  87                      10  1
173         173                  87                      92  4
174         174                  88                      13  1
175         175                  88                      86  4
176         176                  88                      15  1
177         177                  88                      69  4
178         178                  93                      14  1
179         179                  93                      90  4
180         180                  97                      32  1
181         181                  97                      86  4
182         182                  98                      15  1
183         183                  98                      88  4
184         184                  99                      39  1
185         185                  99                      97  4
186         186                 101                      24  1
187         187                 101                      68  4
188         188                 103                      17  1
189         189                 103                      85  4
190         190                 103                      23  1
191         191                 103                      69  4
192         192                 113                       8  1
193         193                 113                      91  4
194         194                 120                      16  1
195         195                 120                      79  4
196         196                 126                      28  1
197         197                 126                      74  4
198         198                 137                      18  1
199         199                 137                      83  4

[200 rows x 4 columns]

In [142]:
X=dataset.iloc[:,1:3]
X

     Annual Income (k$)  Spending Score (1-100)
0                    15                      39
1                    15                      81
2                    16                       6
3                    16                      77
4                    17                      40
5                    17                      76
6                    18                       6
7                    18                      94
8                    19                       3
9                    19                      72
10                   19                      14
11                   19                      99
12                   20                      15
13                   20                      77
14                   20                      13
15                   20                      79
16                   21                      35
17                   21                      66
18                   23                      29
19                   23                      98
20                   24                      35
21                   24                      73
22                   25                       5
23                   25                      73
24                   28                      14
25                   28                      82
26                   28                      32
27                   28                      61
28                   29                      31
29                   29                      87
..                  ...                     ...
170                  87                      13
171                  87                      75
172                  87                      10
173                  87                      92
174                  88                      13
175                  88                      86
176                  88                      15
177                  88                      69
178                  93                      14
179                  93                      90
180                  97                      32
181                  97                      86
182                  98                      15
183                  98                      88
184                  99                      39
185                  99                      97
186                 101                      24
187                 101                      68
188                 103                      17
189                 103                      85
190                 103                      23
191                 103                      69
192                 113                       8
193                 113                      91
194                 120                      16
195                 120                      79
196                 126                      28
197                 126                      74
198                 137                      18
199                 137                      83

[200 rows x 2 columns]

In [279]:
# DBSCAN
db = DBSCAN(eps=6, min_samples=0.3).fit(X)

# we are calculating these for showcasing in diagram
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)  # creating an array of true and false as the same size as db.labels
core_samples_mask[db.core_sample_indices_] = True  # setting the indices of the core regions to True
labels = db.labels_  # similar to the model.fit() method, it gives the labels of the clustered data

In [280]:
# Number of clusters in labels, ignoring noise if present.
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0) # the label -1 is considered as noise by the DBSCAN algorithm
n_noise_ = list(labels).count(-1)  # calculating the number of clusters

In [281]:
labels_true=dataset.iloc[:,3]

In [282]:
print('Estimated number of clusters: %d' % n_clusters_)
print('Estimated number of noise points: %d' % n_noise_)

"""Homogeneity metric of a cluster labeling given a ground truth.

A clustering result satisfies homogeneity if all of its clusters
contain only data points which are members of a single class."""

print("Homogeneity: %0.3f" % metrics.homogeneity_score(labels_true, labels))

Estimated number of clusters: 37
Estimated number of noise points: 0
Homogeneity: 0.968

In [283]:
print("Rand Index: %0.3f"
      % metrics.adjusted_rand_score(labels_true, labels))

Rand Index: 0.758

In [284]:
metrics.jaccard_similarity_score(labels_true, labels)

0.03

In [285]:
print(labels)

[ 0  1  2  1  0  1  2  3  2  1  4  3  4  1  4  1  5  6  5  3  5  1  7  1
  8  9  5 10  5  9  7  1  7 11  8  9  8  1 12  1 13 11 13 14 12 14 14 14
 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
 14 14 14 15 16 15 16 15 17 15 17 15 16 15 17 15 17 15 17 15 17 15 16 15
 17 15 16 15 17 15 17 15 17 15 17 15 17 15 17 15 16 15 17 15 18 19 20 15
 18 21 20 19 20 15 20 22 20 23 20 24 25 24 20 24 26 27 20 28 20 24 20 28
 29 30 31 32 33 34 35 36]

In [286]:
print(labels_true)

0      2
1      3
2      2
3      3
4      2
5      3
6      2
7      3
8      2
9      3
10     2
11     3
12     2
13     3
14     2
15     3
16     2
17     3
18     2
19     3
20     2
21     3
22     2
23     3
24     2
25     3
26     2
27     3
28     2
29     3
      ..
170    1
171    4
172    1
173    4
174    1
175    4
176    1
177    4
178    1
179    4
180    1
181    4
182    1
183    4
184    1
185    4
186    1
187    4
188    1
189    4
190    1
191    4
192    1
193    4
194    1
195    4
196    1
197    4
198    1
199    4
Name: y, Length: 200, dtype: int64